<!DOCTYPE html>
<html dir="ltr" lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Sahara - amazon clone">

        <title>Sahara</title>

        <link rel="stylesheet" type="text/css" href="css/app.css">
        <link rel="icon" type="image/x-icon" href="images/favicon.ico">

        <script type="text/javascript" src="https://unpkg.com/vue@3" defer></script>
        <script type="text/javascript" src="js/app.js" defer></script>
    </head>
    <body>

        <div id="app">
            <h1>Sahara {{fullName}}</h1>
            <form id="loginForm">
                <input  v-model="Username"  type="text"     placeholder="Username" required />
                <input  v-model="Password"  type="password" placeholder="Password" required />
                <button v-on:click="login"  type="submit">Login</button>
                <button v-on:click="signup" type="submit">Sign Up</button>
            </form>
        </div>
        
    </body>
</html>